<footer class="footer bg-dark py-3 mt-auto sticky-bottom" id="footer">
    <div class="container">
        <span class="text footertxt" id="footer">
            <div class="d-flex flex-column align-items-center" id="icons">
                <h5 class=" mt-3 mb-4">Volg ons</h5>
                <div class="container mb-4">
                    <div class="row mx-auto justify-content-center">

                        <a href="#">
                            <div class="social-icon social-facebook "><i class="fab fa-facebook"></i>

                            </div>
                        </a>
                        <a href="#">
                            <div class="social-icon social-instagram "><i class="fab fa-instagram "></i>


                            </div>
                        </a>



                    </div>
                </div>

                <p class="text-center">&copy Copyright 2021<br>
                    All rights reserved Avdk.net</p>
            </div>
            <p></p>


        </span>
    </div>
</footer>