<footer class="footer bg-dark py-3 mt-auto sticky-bottom" id="footer">
    <div class="container">
        <span class="text footertxt" id="footer">&copy; Copyright 2021 avdk.net<br>
            All rights reserved


        </span>
    </div>
</footer>