<footer class="footer bg-dark py-3 mt-auto sticky-bottom" id="footer">
    <div class="container">
        <span class="text footertxt">&copy; Mother website<br>

            <a href="#">
                Mother mobile
            </a><br>
            Utrecht<br>


        </span>
    </div>
</footer>