<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>





</head>

<body class="d-flex flex-column vh-100">
    <div id="parallax-container">

        <section>
            <div class="parallax-one">
                <div class=" button arrow bounce"><i id="arrow-down" class="fa fa-angle-down fa-4x "
                        aria-hidden="true"></i>

                </div>
            </div>
        </section>
        <div class="middle sticky-top">
            <a href="#">
                <label class="img-btn  float-right mt-3 mr-3">
                    <input type="button" name="country-flags">
                    <img src="/images/Nl_1.png" alt="netherlands-flag">
                </label>
            </a>
            <a href="#">
                <label class="img-btn  float-right mt-3 mr-3">
                    <input type="button" name="country-flags">
                    <img src="/images/uk_1.png" alt="united-kingdom-flag">
                </label>
            </a>

            <h1 id="h1" class="ml-2 pt-2">AVDK.NET</h1>


        </div>


        <section>

            <div class="container mt-5 mb-5 pt-5 mt-5">
                <div class="card" id="main_card">
                    <div class="card-body p-3">

                        <h1 class="card-title mb-2">AVDK.NET</h1>
                        <p>AVDK.NET streeft ernaar dat de Nederlandse markt toegang krijgt tot producten die
                            voorheen
                            moeilijk of nauwelijks verkrijgbaar waren en die gemaakt zijn in een hoek van de
                            Europese
                            Unie, namelijk Griekenland.<br>
                            <br>
                            In turbulente tijden zoals vandaag en waarin zakendoen in Europa weer zin begint te
                            krijgen,
                            is iedereen op zoek naar slimme keuzes en perfectie terwijl deze toch betaalbaar blijft.
                            Blijf dicht bij huis, ondersteun de Europese economie en in grote lijnen: ondersteun bij
                            wijze van spreken uzelf!<br>
                            <br>

                            AVDK.NET is ontwikkeld door Annemieke van der Kaaij, een Nederlandse zelfstandige
                            ondernemer
                            die meer dan 25 jaar in Griekenland woont. Na haar deelname aan het Orange
                            Grove-project,
                            uitgevoerd door de Nederlandse regering ter ondersteuning van de economische crisis die
                            de
                            Europese partner Griekenland trof, nam ze het initiatief om de producten van Griekse
                            crisis
                            overlevenden MKB- bedrijven uit verschillende sectoren te mengen zoals de
                            schoenenindustrie
                            en de IT-sector .
                        </p>

                    </div>
                </div>
            </div>
        </section>
        <section class="big-section">
            <h1 class="text-center pt-5" id="moving">MOVING ON</h1>
            <div class="container pt-5">

                <div class="row">
                    <div class="col-lg">
                        <div class="card mb-4">
                            <img src="/images/shoe.png" class="card-img-top" alt="...">
                            <div class="card-body" id="card-body">
                                <div class="container width-60">
                                    <h1 class="card-title mb-2">CHANIOTAKIS SA</h1>
                                    <p>

                                        CHANIOTAKIS SA<br>
                                        <br>

                                        Chaniotakis is een schoenenmerk dat streeft naar zuivere verfijning, comfort en
                                        elegantie.<br>
                                        Chaniotakis-schoenen zijn uitsluitend ontworpen en geproduceerd door de
                                        Griekse familie, gemaakt met hun inherente geërfde liefde en passie en
                                        vertegenwoordigd
                                        in hun ontwerpen door hun luxe van eenvoud.<br>


                                        Nieuw logo vanwege het 45 jarig jubileum.<br>

                                        De tijdloze, comfortabele en met leer vervaardigde Chaniotakis-schoenen zijn
                                        favoriet
                                        bij de dynamische persoon die dol is op de ‘back to the basics’ en verfijnde
                                        stijl.<br>
                                        Elk
                                        paar schoenen heeft zijn eigen unieke en gedetailleerde touch die door Spiros en
                                        Theodoros Chaniotakis zelf wordt uitgekozen.<br>

                                        Trek de Chaniotakis creatie aan en ervaar aan je voeten de perfectie van ervaren
                                        handen
                                        die elegantie, klasse en liefde voor pure schoonheid uitdrukken.<br>




                                        De webshop www.chaniotakis.com is ook beschikbaar in het Nederlands.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg">
                        <div class="card mb-4">
                            <img src="/images/shoe.png" class="card-img-top" alt="...">
                            <div class="card-body" id="card-body">
                                <div class="container width-60">
                                    <h1 class="card-title mb-2">IOANNA KOURBELA</h1>
                                    <p>


                                        <br>
                                        Ioanna Kourbela Basics is een Premium designer merk die sinds 2003 naar meer dan
                                        25 landen exporteert en waarvan de gehele productie plaatsvindt in een hoek van
                                        de Europese Unie; namelijk Griekenland.<br>
                                        <br>

                                        Ioanna Kourbela maakt bij het produceren van haar creaties gebruik van
                                        natuurlijke lokale grondstoffen, innovatieve technieken en materialen van hoge
                                        kwaliteit.<br> Alle creaties zijn gestyled naar het idee om een comfortabel huis
                                        voor het lichaam te creëren waardoor de ‘basic’ (vitale) lijn past bij de
                                        behoeftes van elke persoonlijkheid en vorm van expressie.<br>
                                        <br>

                                        Duurzaamheid en eerlijke werkvoorwaarden staan bij ons al vanaf de start hoog in
                                        het vaandel. Actief nemen wij dan ook deel aan de Textiles Clothing Business
                                        Labs (T.C.B.L.), een pan-Europees project gericht op de sanering en renovatie
                                        van de textiel- en kledingindustrie.<br>
                                        <br>
                                        <br>



                                        www.ioannakourbela.com
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
        </section>
        <!-- <section class="mt-5 mb-5">
            <div class="container">

                <div class="card mb-2" id="special-card">
                        <div class="card-body">
                            <h1 class="card-title mb-2">DE HYBRIDE DIGITALE PLEK @ C.A.S.T</h1>
                            <p>

                                Zo kwam de presentatie van een hybride digitale tentoonstelling plek by C.A.S.T.
                                als
                                gastexposant tot stand (Nieuwegein, 13/09/2020 - 18/09/2020).<br>

                                Daarbij werden twee Griekse schoenenfabrikanten op de Nederlandse markt met
                                behulp
                                van
                                innovatieve software en hardware middelen gepresenteerd.<br>
                                De schoenenbranche werd
                                vertegenwoordigt door de gerenommeerde schoenenfabrikanten (1) Chaniotakis SA en
                                (2)
                                Robinson Shoes.<br>


                                De presentatie van beide werd mogelijk gemaakt met behulp van innovatieve
                                software-
                                en
                                hardware middelen, namelijk Digital Shelve van Vision2Watch & InfoWi van
                                Dynacomp
                                S.A..<br>
                                Beide IT bedrijven zijn Griekse ondernemingen.
                            </p>

                        </div>
                    </div>
                </div>



        </section> -->

        <section class="mt-5 mb-5">
            <div class="container">
                <div class="card float-left mb-5" id="special-card">
                    <div class="row ">

                        <div class="col-lg-6">
                            <div class="card-block">

                                <h1 class="card-title mb-2">DE HYBRIDE DIGITALE PLEK @ C.A.S.T</h1>
                                <p>

                                    Zo kwam de presentatie van een hybride digitale tentoonstelling plek by C.A.S.T.
                                    als
                                    gastexposant tot stand (Nieuwegein, 13/09/2020 - 18/09/2020).<br>

                                    Daarbij werden twee Griekse schoenenfabrikanten op de Nederlandse markt met
                                    behulp
                                    van
                                    innovatieve software en hardware middelen gepresenteerd.<br>
                                    De schoenenbranche werd
                                    vertegenwoordigt door de gerenommeerde schoenenfabrikanten (1) Chaniotakis SA en
                                    (2)
                                    Robinson Shoes.<br>


                                    De presentatie van beide werd mogelijk gemaakt met behulp van innovatieve
                                    software-
                                    en
                                    hardware middelen, namelijk Digital Shelve van Vision2Watch & InfoWi van
                                    Dynacomp
                                    S.A..<br>
                                    Beide IT bedrijven zijn Griekse ondernemingen.
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <img class="d-block img-fluid" src="/images/shoe_v3.png" alt="">
                        </div>
                    </div>
                </div>



        </section>




        <section class="mb-5 pb-5">


            <div class="container">
                <h2 class="text-center mt-5">My Sponsors</h2>
                <section class="customer-logos slider pt-5">
                    <div class="slide"><img
                            src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
                    <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg">
                    </div>
                    <div class="slide"><img
                            src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg">
                    </div>
                    <div class="slide"><img
                            src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg"></div>
                    <div class="slide"><img
                            src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg"></div>
                    <div class="slide"><img
                            src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg">
                    </div>
                    <div class="slide"><img
                            src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg">
                    </div>
                </section>
            </div>
        </section>

        <section class="mb-5 pb-3">
            <!-- Αρχη δημιουργιας Contact Form -->

            <div class="container">
                <div class="card mb-2">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <h2 class="form-title">Get in Touch</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <form class="contact-form">

                                <div class="form-group">
                                    <label class="form-label" id="nameLabel" for="name"></label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Your name" tabindex="1" required>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" id="emailLabel" for="email"></label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email" tabindex="2" required>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                                    <input type="text" class="form-control" id="subject" name="subject"
                                        placeholder="Subject" tabindex="3" required>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" id="messageLabel" for="message"></label>
                                    <textarea rows="6" cols="60" name="message" class="form-control" id="message"
                                        placeholder="Your message" tabindex="4" required></textarea>
                                </div>

                                <div class="text-center margin-top-25 pb-5">
                                    <button type="submit" id="submit-btn" class="btn btn-mod btn-border btn-large">Send
                                        Message</button>
                                </div>

                            </form><!-- End form -->

                        </div><!-- End col -->

                    </div><!-- End row -->
                </div>

            </div><!-- End container -->

            <!-- Τελος δημιουργιας Contact Form -->
        </section>
        <section>

            <div class="d-flex flex-column align-items-center" id="icons">
                <h5 class=" mt-3 mb-4">Volg ons</h5>
                <div class="container mb-4">
                    <div class="row mx-auto justify-content-center">


                        <div class="social-icon social-facebook "><i class="fab fa-facebook"></i>
                            <a href="#"></a>

                        </div>
                        <div class="social-icon social-instagram "><i class="fab fa-instagram "></i>
                            <a href="#"></a>

                        </div>



                    </div>
                </div>
            </div>
        </section>

        <script src="/scripts/socialClick.js"></script>
        <script src="/scripts/homeArrow.js"></script>
        <script src="/scripts/homeArrowScrollLogic.js"></script>
        <script src="/scripts/app.js"></script>
        <script>
            $(document).ready(function () {
                $('.customer-logos').slick({
                    slidesToShow: 6,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 1500,
                    arrows: false,
                    dots: false,
                    pauseOnHover: false,
                    responsive: [{
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4
                        }
                    }, {
                        breakpoint: 520,
                        settings: {
                            slidesToShow: 3
                        }
                    }]
                });
            });
        </script>
        <%- include('./partials/footer')%>


</body>
<style>
    #last-photo {
        height: auto;
    }
</style>


</html>