<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avdk.net</title>
    <!-- Bootstrap V5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="d-flex flex-column vh-100">
    <div id="parallax-container">

        <section>
            <div class="parallax-one">
                <div class=" button arrow bounce"><i id="arrow-down" class="fa fa-angle-down fa-4x "
                        aria-hidden="true"></i>
                </div>
            </div>
        </section>
        <div class="middle">
            <div class="language-bar">
                <h1 id="h1" class="pt-2">AVDK.NET</h1>
                <div class="flags">
                    <a href="/english">
                        <label class="img-btn mt-3 mr-3">
                            <input type="button" name="country-flags">
                            <img src="/images/us.svg" alt="united-states-flag">
                        </label>
                    </a>
                    <a href="/german">
                        <label class="img-btn my-3 mr-3">
                            <input type="button" name="country-flags">
                            <img src="/images/de.svg" alt="germany-flag">
                        </label>
                    </a>
                    <a href="/">
                        <label class="img-btn mt-3 mr-3">
                            <input type="button" name="country-flags">
                            <img src="/images/nl.svg" alt="netherlands-flag">
                        </label>
                    </a>
                </div>
            </div>
        </div>
        <section>

            <div class="container mt-5 mb-5 pt-5 mt-5">
                <div class="card mx-auto" id="main_card">
                    <div class="card-body p-3">

                        <h1 class="card-title mb-2 text-center">AVDK.NET</h1>

                        <p class="text-start">AVDK.NET strives to give the Dutch market access to fashion quality
                            products that were previously hardly available while these are made in a corner of the
                            European Union, namely in Greece.<br><br>
                            In turbulent times like today and when doing business in Europe is starting to make sense
                            again, everyone is looking for smart choices and perfection while still remaining
                            affordable. Stay close to home, support the European economy and support
                            yourself!<br><br>AVDK.NET was developed by Annemieke van der Kaaij, a Dutch independent
                            entrepreneur who has lived in Greece for over 25 years. After participating in the Orange
                            Grove project, carried out by the Dutch government in support of the economic crisis that
                            hit European partner Greece, she took the initiative to mix the products of Greek crisis
                            survivors SMEs from different sectors such as the shoe industry. and the IT sector.
                            .<br>


                        </p>

                    </div>
                </div>
            </div>
        </section>
        <section class="big-section container-fluid">
            <h1 class="text-center pt-5" id="moving">MOVING ON</h1>
            <div class="container row pt-5 moving-on-container">

                <div class="col-lg mb-4">
                    <div class="card moving-on-card">
                        <img src="/images/chaniotakis.png" class="card-img-top img-fluid" alt="...">
                        <div class="card-body" id="card-body-1">
                            <div class="container width-60">
                                <h1 class="card-title mb-2 text-center">CHANIOTAKIS SA</h1>
                                <p class="text-start">

                                    <br>

                                    Chaniotakis is a shoe brand that strives for pure sophistication, comfort and
                                    elegance. Chaniotakis shoes are designed and produced exclusively by the Greek
                                    family Chaniotakis, made with their inherent inherited love and passion and
                                    represented in their designs by their luxury of simplicity.
                                    <br>
                                    <br>
                                    The timeless, comfortable and leather-crafted Chaniotakis shoes are favorited by the
                                    dynamic person who loves the combination of 'back to the basics' and sophisticated
                                    style. Each pair of shoes has its own unique and detailed touch that is selected,
                                    implemented and manufactured by Spiros and Theodoros Chaniotakis themselves.<br>
                                    <br>
                                    The webshop www.chaniotakis.com is also available in Dutch.<br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>



                                <div class="text-center">
                                    <a target="_blank" href="https://www.chaniotakis.com/">www.chaniotakis.com</a>
                                </div>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg mb-4">
                    <div class="card moving-on-card">
                        <img src="/images/photo_5.png" class="card-img-top img-fluid" alt="...">
                        <div class="card-body" id="card-body-2">
                            <div class="container width-60">
                                <h1 class="card-title mb-2 text-center">IOANNA KOURBELA</h1>
                                <p class="text-start">

                                    <br>
                                    Ioanna Koubela Basics is a premium designer brand that has been exporting to more
                                    than 25 countries since 2003 and whose entire production takes place in one corner
                                    of the European Union; namely Greece.
                                    <br>
                                    <br>
                                    Ioanna Koubela uses natural local raw materials, innovative techniques and high
                                    quality materials to produce her creations. All creations are styled according to
                                    the idea of ​​creating a comfortable home for the body, so that the 'basic' (vital)
                                    line fits the needs of every personality and form of expression.
                                    <br>
                                    <br>
                                    Sustainability and fair work conditions have been of paramount importance to the
                                    brand already from the start. They therefore also actively participate in the
                                    Textiles Clothing Business Labs (T.C.B.L.), a pan-European project aimed at the
                                    remediation and renovation of the textile and clothing industry.
                                    <br><br>


                                <div class="text-center">
                                    <a target="_blank" href="https://ioannakourbela.com/">www.ioannakourbela.com</a>
                                </div>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section class="mt-5 mb-5">
            <div class="container">
                <div class="card float-left mb-5" id="special-card">
                    <div class="row ">
                        <div class="col-lg-6">
                            <div class="card-block">

                                <h1 class="card-title mb-2 text-center">THE HYBRID DIGITAL PLACE @ C.A.S.T</h1>
                                <p class="text-center">

                                    Thus, the presentation of a hybrid digital exhibition by C.A.S.T. as a guest
                                    exhibitor (Nieuwegein, 13/09/2020 - 18/09/2020).<br>
                                    <br>Two Greek shoe manufacturers were presented on the Dutch market with the help of
                                    innovative software and hardware resources. The shoe industry was represented by the
                                    renowned shoe manufacturers Chaniotakis SA and another well-known Greek shoe
                                    brand.<br>
                                    <br>The presentation of both brands was made possible with the help of innovative
                                    software and hardware resources, namely Digital Shelve from Vision2Watch & InfoWi
                                    from Dynacomp S.A.. Both IT companies are Greek companies.
                                    <br>

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <img class="d-block img-fluid" src="/images/cast.png" alt="">
                        </div>
                    </div>
                </div>
        </section>

        <section class="mb-5 pb-5">
            <div class="container">
                <h2 class="text-center mt-5">PREVIEW OF CLIENT'S WORK</h2>
                <section class="customer-logos slider pt-5">
                    <div class="slide"><img class="modal-img img-fluid slide_1" src="/images/shoe_1.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide"><img class="modal-img img-fluid slide_2" src="/images/shoe_2.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide "><img class="modal-img img-fluid slide_3" src="/images/shoe_3.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide "><img class="modal-img img-fluid slide_4" src="/images/shoe_4.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide "><img class="modal-img img-fluid slide_5" src="/images/shoe_5.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide "><img class="modal-img img-fluid slide_6" src="/images/shoe_6.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide "><img class="modal-img img-fluid slide_7" src="/images/shoe_7.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                    <div class="slide "><img class="modal-img img-fluid slide_8" src="/images/shoe_8.png"
                            data-bs-target="#exampleModal" data-bs-toggle="modal">
                    </div>
                </section>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Shoes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
                                    <div class="carousel-inner">
                                        <div id="photo_1" class="carousel-item">
                                            <img src="/images/shoe_1.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_2" class="carousel-item ">
                                            <img src="/images/shoe_2.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_3" class="carousel-item ">
                                            <img src="/images/shoe_3.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_4" class="carousel-item ">
                                            <img src="/images/shoe_4.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_5" class="carousel-item ">
                                            <img src="/images/shoe_5.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_6" class="carousel-item ">
                                            <img src="/images/shoe_6.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_7" class="carousel-item ">
                                            <img src="/images/shoe_7.png" class="img-fluid" alt="...">
                                        </div>
                                        <div id="photo_8" class="carousel-item ">
                                            <img src="/images/shoe_8.png" class="img-fluid" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mb-5 pb-3">
            <!-- Αρχη δημιουργιας Contact Form -->

            <div class="container">
                <div class="card mb-2">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <h2 class="form-title">Get in Touch</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <form class="contact-form">

                                <div class="form-group">
                                    <label class="form-label" id="nameLabel" for="name"></label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Your name" tabindex="1" required>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" id="emailLabel" for="email"></label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Your Email" tabindex="2" required>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                                    <input type="text" class="form-control" id="subject" name="subject"
                                        placeholder="Subject" tabindex="3" required>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" id="messageLabel" for="message"></label>
                                    <textarea rows="6" cols="60" name="message" class="form-control" id="message"
                                        placeholder="Your message" tabindex="4" required></textarea>
                                </div>

                                <div class="text-center margin-top-25 pb-5">
                                    <button type="submit" id="submit-btn" class="btn btn-mod btn-border btn-large">Send
                                        Message</button>
                                </div>

                            </form><!-- End form -->

                        </div><!-- End col -->

                    </div><!-- End row -->
                </div>

            </div><!-- End container -->

            <!-- Τελος δημιουργιας Contact Form -->
        </section>

        <!-- Bootstrap V5 Script-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="/scripts/socialClick.js"></script>
        <script src="/scripts/homeArrow.js"></script>
        <script src="/scripts/homeArrowScrollLogic.js"></script>
        <script src="/scripts/app.js"></script>
        <script src="/scripts/popup.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="/scripts/slick.js"></script>
        <footer class="footer bg-dark py-3 mt-auto sticky-bottom" id="footer">
            <div class="container">
                <span class="text footertxt" id="footer">
                    <div class="d-flex flex-column align-items-center" id="icons">
                        <h5 class=" mt-3 mb-4">FOLLOW US</h5>
                        <div class="container mb-3">
                            <div class="row" id="row">




                                <ul>
                                    <li><a target="_blank" href="https://www.facebook.com/avdk.net"
                                            class="social-icon social-facebook links a"><i
                                                class="fab fa-facebook"></i></a>
                                    </li>




                                    <li><a target="_blank" href="https://www.instagram.com/avdk69/"
                                            class="social-icon social-instagram links a"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>







                            </div>
                        </div>

                        <p class="text-center">&copy Copyright 2021 avdk.net
                            <br>
                            All rights reserved. mail to: info@avdk.net
                        </p>
                    </div>
                    <p></p>


                </span>
            </div>
        </footer>


</body>
<style>
    #last-photo {
        height: auto;
    }
</style>


</html>