<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avdk.net</title>
    <!-- Bootstrap V5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body class="d-flex flex-column vh-100">
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading text-center">
                        <p class="m-0">Oeps! Er is iets misgegaan</p>
                    </h4>
                    <img src="/images/404.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mx-auto justify-content-center vh-100">
        <a href="/" class="text-decoration-none">
            <div class="row justify-content-center">
                <div class="col-md-6 justify-content-center align-middle">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">Go to the Home Page</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <%- include('./partials/footer')%>
        <!-- Bootstrap V5 Script-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>


</html>