#main {
	width: 100%;
	padding: 0;
}
.content-asset p {
	margin: 0 auto;
}
.breadcrumb {
	display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
	padding-top: 10px;
}
.margin-bot-10 {
	padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-container h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.3rem;
	font-weight: 400;
	text-transform: uppercase;
	color: black;
	padding: 0;
	margin: 0;
}

#parallax-container h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.3rem;
	letter-spacing: 10px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 10;
	opacity: .8;
}

#parallax-container h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 0;
	font-weight: 400;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: black;
}

#parallax-container h4{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 10px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 10;
	opacity: .8;
}

#parallax-container h5{
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	letter-spacing: 10px;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 10;
	opacity: .8;
}

.sc {
	color: #3b8595;
}
.ny {
	color: #3d3c3a;
}
.atw {
	color: #c48660;
}

/* Section - Title */
/**************************/
#parallax-container .title {
	background: white;
	padding: 60px;
	margin: 0 auto;
	text-align: center;
}
#parallax-container .title h1 {
	font-size: 35px;
	letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-container .block {
	background: white;
	padding: 60px;
	width: 820px;
	margin: 0 auto;
	text-align: justify;
}
#parallax-container .block-gray {
	background: #f2f2f2;
	padding: 60px;
}
#parallax-container .section-overlay-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.70;
}

/* Section - Parallax */
/**************************/
#parallax-container .parallax-one {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url(/images/logo_v2.png);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100vh;
}
#parallax-container .parallax-two {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url(/images/photo_6.png);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#parallax-container .parallax-three {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url(/images/tata.png);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#parallax-container .parallax-four {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url(/images/photo_4.png);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 80vh;
}

#parallax-container .parallax-five {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url(/images/photo_6.png);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 80vh;
}

#parallax-container .parallax-six {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url(/images/tata.png);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

/* Extras */
/**************************/
#parallax-container .line-break {
	border-bottom: 1px solid black;
	width: 150px;
	margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
	#parallax-container .block {
		padding: 40px;
		width: 620px;
	}
	
}
@media screen and (max-width: 767px) {
	#parallax-container .block {
		padding: 30px;
		width: 420px;
	}
	#parallax-container h2 {
		font-size: 30px;
	}
	#parallax-container .block {
		padding: 30px;
	}
	#parallax-container .parallax-one,
	#parallax-container .parallax-two,
	#parallax-container .parallax-three {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
}
@media screen and (max-width: 479px) {
	#parallax-container .block {
		padding: 30px 15px;
		width: 290px;
	}
	
}

@media only screen and (max-device-width: 1050px) {
	#parallax-container .parallax-one,
	#parallax-container .parallax-two,
	#parallax-container .parallax-three,
	#parallax-container .parallax-four,
	#parallax-container .parallax-five,
	#parallax-container .parallax-six {
		background-attachment: scroll;
		height: auto;
		width: 100%;
	}
	
	.fs-6 {
		font-size: 1rem !important;
	}
	
}

@media only screen and (max-device-width: 560px) {
	#parallax-container h4{
		font-size: 0.5rem!important;
	}
	#main-title{
		font-size: 1.14rem!important;
	}
	
}

body {
    font-family: 'Libre Franklin', sans-serif;
    height: 100vh;
  } 


  #h1{
    font-family: 'Unica One', cursive!important;
    
    color: #FFFFFF!important;
    
    
    

  }

  .middle{
    background-color: #333631;
    height: 4.5rem;
    width: 100%;
    
  }

.card{
    
    box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
  }
  
  h1:before  {  
    content: '';
    display: block;
    margin-top: 10px;
    position: relative;
    top: -10px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: #ffc444;
  }

  h1{
    font-family: 'Unica One', cursive!important;
  }

  .big-section{
      height: auto;
      background-color: #FFC444;
  }

  #moving{
      font-size: 3rem!important;
  }

  #card-body{
      background-color:#FFC444;
  }

  @-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -moz-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -moz-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
	60% {
	  -moz-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }
  @-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -webkit-transform: translateY(-30px);
	  transform: translateY(-30px);
	}
	60% {
	  -webkit-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }
  @keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	40% {
	  -moz-transform: translateY(-30px);
	  -ms-transform: translateY(-30px);
	  -webkit-transform: translateY(-30px);
	  transform: translateY(-30px);
	}
	60% {
	  -moz-transform: translateY(-15px);
	  -ms-transform: translateY(-15px);
	  -webkit-transform: translateY(-15px);
	  transform: translateY(-15px);
	}
  }
  
 
  #arrow-down {
	display: block;
	animation: fadeIn 4s;
	color: #343A40;
	transform: translateY(-140px);
	cursor: pointer;
  }
  .arrow {
	position: absolute;
	bottom:0;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 60px; /*change with size of arrow to make sit on bottom */
  /*   background-image: url(); */
  /*   background-size: contain; */
  }
  
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

  .bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2.35s infinite;
  }

  @media screen and (max-width: 1050px){
    /* Styles that apply to screen sizes from 0 to 1050 pixels in width */
    #arrow-down{
		display: none;
	}
	
  }

  #footer{
color: #FFFFFFDF;
  }

  .slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-group .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color: #000;
  }
  
  .form-group .form-control:focus {
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
    
  }
  
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
  }
  
  .btn-mod.btn-border {
      color: #000000;
      border: 1px solid #000000;
      background: transparent;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #000;
      background: #000;
      outline: none;
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 11px;
      }
    
      .form-title {
          font-size: 20px;
    }
  }
  
  #special-card .card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
#special-card .card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}
  
#icons .social-icon {
	height: 70px;
	width: 70px!important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 27px;
	margin-right: 11px;
	cursor: pointer;
}

#icons .social-twitter {
	background-color: #55acee;
}

#icons .social-facebook {
	background-color: #343A40;
}

#icons .social-linkedin {
	background-color: #0077b5;
}

#icons .social-google {
	background-color: #dd4b39;
}

#icons .social-instagram {
	background-color: #343A40;
}
#icons .social-whatsapp {
	background-color: #25D366;
}

#icons .social-icon i {
	transition: 0.4s all;
}

#icons .social-icon:hover i {
	transform: scale(1.4);
}
  

.img-btn img{
	width:50px;
	height:40px;
  }
  .img-btn > input{
	display:none
  }
  .img-btn > img{
	cursor:pointer;
	border:5px solid transparent;
  }
  
 
  
  