<footer class="footer bg-dark py-3 mt-auto sticky-bottom" id="footer">
    <div class="container">
        <span class="text footertxt" id="footer">
            <div class="d-flex flex-column align-items-center" id="icons">
                <h5 class=" mt-3 mb-4">Volg ons</h5>
                <div class="container mb-3">
                    <div class="row" id="row">




                        <ul>
                            <li><a target="_blank" href="https://www.facebook.com/avdk.net"
                                    class="social-icon social-facebook links a"><i class="fab fa-facebook"></i></a>
                            </li>




                            <li><a target="_blank" href="https://www.instagram.com/avdk69/"
                                    class="social-icon social-instagram links a"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>







                    </div>
                </div>

                <p class="text-center">&copy Copyright 2021 avdk.net
                    <br>
                    All rights reserved. mail to: info@avdk.net
                </p>
            </div>
            <p></p>


        </span>
    </div>
</footer>